@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply to all scrollbars in the application */
::-webkit-scrollbar {
  width: 3px;               /* width of the entire scrollbar */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #2A2A2A;      /* color of the track */
}

/* Scrollbar thumb (the handle) */
::-webkit-scrollbar-thumb {
  border-radius: 3px;   
  background-color: #656565;
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #888; 
}
