
.sidebar-container {
    width: 150px;    
    height: 100vh;     
    background-color: #222;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.sidebar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.sidebar-item {
    padding: 0.75rem 1rem;
    margin-bottom: 0.5rem;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

.sidebar-item:hover {
    font-weight: bold;
}

.sidebar-item-active {
    background-color: rgba(0,119,178, 1.0);
    font-weight: bold;
    border-radius: 8px;
}

.sidebar-footer {
    padding-top: 1rem;
}